/*
    Global Page Settings
 */
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: url('../images/dark-triangles.png');

}

/*
    Global Changes
 */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*
    Header
 */

header {
    background: white;
    color: #777777;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #cbcbcb 3px solid;



}

header a {
    color: #777777;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {

    float: left;
    display: inline;
    padding: 0 20px 0 20px;

    border-right: #666666 0.0005px solid;
}

header #brandName {
    float: left;

}

header #brandName h1 {
    color: white;
    font-weight: bold;
    font-size: 26px;

    background: #4aaaa5;

    margin: 0;
    padding: 20px;
}

header nav {
    float: right;
    margin-top: 25px;
}

header .current, header a:hover {
    color: #666666;
    font-weight: bold;
}

/*
    Main Section
 */

#mainSection {
    min-height: 400px;
    color: #777777;
}

/*
    About Me Box | ABOUT PAGE
 */

#aboutMeBox {
    float: left;
    border: #bebebe 1px solid;

    margin-top: 40px;

    width: 60%;
    height: 480px;

    padding: 20px;
    background: white;

}

#aboutMeBox #pic {

    float: left;
    text-align: left;
    width: 300px;
    height: 350px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

#aboutMeBox h1 {
    margin-top: 10px;
    margin-bottom: 10px;

    color: #4aaaa5;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
}

#aboutMeBox p {
    text-align: justify;
    font-size: 20px;

    margin-left: 20px;
}

#aboutMeBox #p1 {
    margin-bottom: 40px;
}


#aboutMeBox hr
{
    color: #bebebe;
    background: #bebebe;
    height: 3px;
    border: 0;
    margin-bottom: 20px;
}

/*
    Portfolio Box | PORTFOLIO PAGE
 */
#portfolioBox {
    float: left;
    border: #bebebe 1px solid;

    margin-top: 40px;

    width: 60%;
    height: 500px;

    padding: 20px;
    background: white;
}

#portfolioBox h1 {
    margin-top: 10px;
    margin-bottom: 10px;

    color: #4aaaa5;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
}

#portfolioBox hr
{
    color: #bebebe;
    background: #bebebe;
    height: 3px;
    border: 0;
    margin-bottom: 20px;
}


/*
    Contact Box | CONTACT PAGE
 */
#contactForm {
    float: left;
    border: #bebebe 1px solid;

    margin-top: 40px;
    margin-bottom: 60px;

    width: 60%;
    height: 80%;

    padding: 20px;
    background: white;
}

#contactForm h1 {
    margin-top: 10px;
    margin-bottom: 10px;

    color: #4aaaa5;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
}

#contactForm hr
{
    color: #bebebe;
    background: #bebebe;
    height: 3px;
    border: 0;
    margin-bottom: 20px;
}

#contactForm h2 {
    color: #777777;
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

#contactForm input {
    padding: 3px;

    height: 30px;
    width: 60%;

    border: #d4dade 1px solid;

    color: #777777;
    font-size: 16px;
}

#contactForm input[type="text"]
{
    height: 350px;
    width: 80%;

    border: #d4dade 1px solid;

    box-sizing: border-box;

    text-align: left;
}

/*
    Placeholder Font Style

    This code is pretty awesome because
    it's used for every different browser
 */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c2c8cc;
    font-size: 16px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #c2c8cc;
    font-size: 16px;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #c2c8cc;
    font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #c2c8cc;
    font-size: 16px;
}

#contactForm .boxResize
{
    width: 600px;
    resize: both;
    overflow: auto;
}

/*
    Button Settings
 */
#contactForm .button_1
{
    background: #4aaaa5;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;

    height: 50px;
    width: 20%;

    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*
    Sidebar Box and Links
 */
#sidebar {
    float: right;

    width: 30%;
    height: auto;

    padding: 10px;
    background: white;

    border: #bebebe 1px solid;

    margin-top: 40px;
    margin-bottom: 36%;
    margin-right: auto;
}

#sidebar h1 {
    margin-top: 10px;
    margin-bottom: 10px;

    color: #4aaaa5;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

#sidebar .links {
    float: left;
    text-align: center;
    padding: 2px;
    width: 30%;
}

#sidebar .links img {
    width: 75px;
    height: 75px;

    border: 0;
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 10px;
}

#sidebar hr
{
    color: #bebebe;
    background: #bebebe;
    height: 1px;
    border: 0;
    margin-bottom: 20px;
}

/*
    Footer
 */
footer {
    background: #666666;
    padding: 30px;

    color: #777777;
    text-align: center;

    border-top: #4aaaa5 9px solid;
}